body{
    background-color: #E6D8C3;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#title{
    color: #E6D8C3;
    background-color: #5D866C;
    text-align: center;
    padding:10px;
    border-radius: 100px;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#topnav{
    background-color: #5D866C;
    color: #E6D8C3;
    text-align: center;
    padding: 10px;

}


 #topnav a{        
    font-size: 20px;
    padding: 10px 20px;
    color: #E6D8C3;
}

#topnav a:hover{
    background-color: #E6D8C3;
    color:#5D866C;
    border-radius: 100px;
}

#boxedarea{
    background-color:#C2A68C;
    padding: 20px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 25px;
}

#intro{
    font-size: 20px;
}

#bookshelf{
    font-size: 30px;
    padding: 30px;
}

#coloredareabox{
    background-color:#C2A68C;
    padding: 20px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 25px;
    text-align: center;
    color: black;
}

#coloredbox{
    background-color: #C2A68C;
    padding: auto;
    margin-top: 10px;
    font-size: 20px;
    padding-left: 30px;
    padding:20px;
    border-radius: 25px;
}

a{
    color: #5D866C
}

#projectbox{
    background-color: #C2A68C;
    padding:10px;
    margin-top: 10px;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    color: black;

    p{
        font-size: 20px;
        text-align: left;
        padding-left: 30px;
    }
    a{
        font-size: 20px;
    };
}

button{
    background-color: #5D866C;
    font-size: 20px;
    border-radius: 100px;
    margin: 10px;
    padding: 10px 20px;
}

button a{
    color: #C2A68C;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button:hover{
    background-color: #C2A68C;
}

button:hover a{
    color: #5D866C
}

/*color palette: https://colorhunt.co/palette/f5f5f0e6d8c3c2a68c5d866c */