body{
    background-color: #E6D8C3;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#title{
    color: #E6D8C3;
    background-color: #5D866C;
    text-align: center;
    padding:10px;
    border-radius: 100px;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#topnav{
    background-color: #5D866C;
    color: #E6D8C3;
    text-align: center;
    padding: 10px;

}


 #topnav a{        
    font-size: 20px;
    padding: 10px 20px;
    color: #E6D8C3;
}

#topnav a:hover{
    background-color: #E6D8C3;
    color:#5D866C;
    border-radius: 100px;
}

#boxedarea{
    background-color:#C2A68C;
    padding: flex;
    margin-top: 10px;
}

#photo{
    float: left;
    padding-right: 30px
}

#intro{
    font-size: 20px;
    padding: 20px;
}

#bookshelf{
    font-size: 30px;
    padding: 30px;
}

/*color palette: https://colorhunt.co/palette/f5f5f0e6d8c3c2a68c5d866c */